@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* center horizontally */
    justify-content: center;
    /* center vertically if container has height */
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    /* also center text */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    color: var(--color-text);

    animation: colorShift 3s infinite;
}

@keyframes colorShift {
    0% {
        color: #0a3362;
    }

    50% {
        color: #3269A8;
    }

    100% {
        color: #0a3362;
    }
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;

}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);

    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 26px 26px;
    margin-bottom: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow 0.8s ease-in-out;
}

@keyframes floatRotate {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-8px) rotate(5deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(-2deg);
    }
}

.heroImg {
    width: 30%;
    border-radius: 100%;
    margin-bottom: 30px;

    animation: floatRotate 6s ease-in-out infinite;
    transition: box-shadow 0.5s ease-in-out;
    z-index: 1;
}

/* When hovered: pause floatRotate and play wiggle once */
.heroImg:hover {
    animation: wiggle 0.6s ease-in-out;
    box-shadow: 0 0 40px 20px rgba(173, 202, 235, 0.6);
}


.topBlur {
    position: absolute;
    width: 50%;
    height: 50%;
    min-width: 350px;
    min-height: 350px;
    top: -120px;
    left: 10vw;
    border-radius: 764px;
    background: rgba(173, 202, 235, 0.6);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 250px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(173, 202, 235, 0.6);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;

    }

    .content {
        align-items: center;
    }

}