@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;

}

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}


.skills {
    width: 45%; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skillImageContainer{
    background-color: rgb(206, 224, 243);
    border-radius: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100px;
    height: 100px;
    z-index: 1;
   
    transition: transform 0.3s ease;
}
.skillImageContainer:hover {

    transform: translateY(-10px);
}


.skillImageContainer img{
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;

}

.history{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 18px; 
    background: #19376d;

    background: radial-gradient(circle ,rgb(173, 203, 235, 1) 40%, rgba(25,55,109,0) 100%);
    border-radius: 10px;
    padding: 24px;
    z-index: 1;

    transition: transform 0.3s ease;
}

.historyItem:hover {
    transform: translateY(-10px);
}
.historyItem:hover img {
    transform: rotate(10deg);
}

.historyItem img{
    transition: transform 0.3s ease;
    width: 60px;

}


.historyItemDetails{
    font-family: var(--font-roboto);
}

.historyItemDetails h3{
    font-size: 25px;
    font-weight: 500;
}


.historyItemDetails p{
    font-size: 18px;
    font-weight: 300;
}

.historyItemDetails ul{
    margin-top: 6px;
    list-style-position: inside;
    font-size: 15px;
    list-style-type: disc;
    margin-left:18px;
}

.topBlur
{
    position: absolute;
    width: 50%;
    height: 50%;
    min-width: 400px;
    min-height: 400px;
    top: 1400px;
    left: 0vw;
    border-radius: 764px;
    background: rgba(173,202,235, 0.6);
    filter: blur(150px);
    z-index: 0;
}


@media screen and (max-width: 830px)
{
    .content{
        flex-direction: column;
        align-items: center;
        gap: 35px
    }
    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history{
        width: 100%;
        gap: 9px;
    }
}