:root{
    /*colors*/
    --color-text: #0A3362; 
    --color-primary: #ADCAEB;
    --color-secondary: #ADCAEB;
    --color-dark: ##5A9EED;
    --color-bg: ##F7F5F3;

    /*fonts*/ 
    --font-roboto: "Roboto";
    
}