:root {
    /*colors*/
    --color-text: #0A3362;
    --color-primary: #7B8FB2;
    --color-secondary: #A5B1CD;
    --color-dark: ##7A8FB2;
    --color-bg: ##7A8FB2;

    /*fonts*/
    --font-roboto: "Roboto";

}